.header {
    background-color: rgba(51, 51, 51, 1);
    /* Цвет фона #333 с 50% прозрачностью */
    padding: 15px 0;
    color: white;
}

.header .logo img {
    max-height: 70px;
}

.header .nav-link {
    color: white;
}

.header .nav-link:hover {
    color: #ddd;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.8);
    position: -webkit-sticky; /* Для Safari */
    position: sticky;
    top: 0; /* Прилипает к верху при достижении верхней части экрана */
    z-index: 1000; /* Убедитесь, что навбар находится поверх других элементов */
}

/* подчеркивание у меню */
.navbar-nav .nav-link {
    position: relative; /* Для позиционирования псевдоэлемента */
    transition: color 0.3s; /* Плавное изменение цвета текста */
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Отступ от нижней части ссылки */
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left center; /* Начало анимации слева */
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.dropdown-menu {
    visibility: hidden; /* Скрыть, но сохранить в потоке */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    position: absolute; /* Позиционирование выпадающего списка */
}

.nav-item.dropdown:hover .dropdown-menu {
    visibility: visible; /* Сделать видимым при наведении */
    opacity: 1;
}

.nav-item.dropdown:hover .nav-link::after {
    transform: scaleX(0); /* Убрать подчеркивание при наведении на dropdown */
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

/* Стили для dropdown */
.dropdown-menu {
    background-color: #727272; /* Цвет фона подменю */
    border: none;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #565656; /* Цвет при наведении на подменю */
    color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    display: none;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

/* Адаптивные стили для экранов меньше чем lg */
@media (max-width: 991.98px) {
    .navbar-collapse {
        max-height: 75vh; /* Ограничиваем высоту на 75% от высоты окна */
        overflow-y: auto; /* Включаем вертикальную прокрутку */
    }

    /* Ограничение высоты для длинных выпадающих списков */
    .dropdown-menu {
        max-height: 75vh; /* Ограничиваем высоту на 50% от высоты окна */
        overflow-y: auto; /* Включаем вертикальную прокрутку внутри выпадающего меню */
    }

    .navbar-nav {
        display: block;
        width: 100%;
    }

    .navbar-nav .nav-item {
        display: block;
        width: 100%;
        border-bottom: 1px solid #626262; /* Линия между пунктами меню */
    }

    .navbar-nav .nav-link {
        display: block;
        width: 100%;
        padding: 10px 15px;
        color: #fff; /* Цвет текста */
        text-align: left;
    }

    .navbar-nav .nav-link::after {
        content: "▾"; /* Добавляем стрелочку вниз */
        float: right;
    }

    .dropdown-menu {
        position: static;
        float: none;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-menu .dropdown-item {
        color: #fff;
        padding-left: 30px; /* Отступ для подменю */
    }

    .dropdown-submenu .dropdown-menu {
        left: 100%;
        top: 0;
        margin-top: 0;
    }

    .dropdown-submenu .dropdown-item {
        padding-left: 45px; /* Больше отступа для второго уровня подменю */
    }
}

/* пульсирующая кнопка  */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 156, 96, 0.7);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 20px 20px rgba(0, 255, 159, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 159, 0);
    }
}

.pulsing-btn {
    animation: pulse 2s infinite;
    background-color: #008653;
    color: #fff;
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
}

/* пульсирующий текст  */
@keyframes pulse-text {
    0% {
        transform: scale(1);
        color: #d9534f;
    }
    50% {
        transform: scale(1.05);
        color: #ff6f61;
    }
    100% {
        transform: scale(1);
        color: #d9534f;
    }
}

.pulsing-text {
    animation: pulse-text 2s infinite;
}

.modern-box {
    border: 1px solid #1c794e;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modern-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.text-primary {
    color: #d9534f !important;
}

.text-danger {
    color: #d9534f !important;
}

h2.text-primary {
    font-size: 2rem;
}

p {
    line-height: 1.6;
}

a.text-primary {
    text-decoration: none;
    border-bottom: 2px solid rgba(25, 132, 82 0.3);
    transition: border-bottom 0.3s ease;
}

a.text-primary:hover {
    border-bottom: 2px solid #d9534f;
}

/* крутой задний фон  */
.custom-background {
    background: linear-gradient(135deg, #c9c9c9 25%, #ffffff 100%);
    padding: 50px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-custom {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-custom h5 {
    color: #333;
}

.card-custom p {
    color: #555;
}

.custom-container {
    background-color: #f8f9fa;
    padding: 30px;
}

/* отзывы */
.reviews-section {
    padding: 50px 0;
}

.reviews-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e74c3c;
    text-align: center;
    margin-bottom: 20px;
}

.reviews-section p {
    text-align: center;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 40px;
}

.reviews-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin: 15px;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.review-card:hover {
    transform: translateY(-10px);
}

.review-card img {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.review-card h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.review-card .btn {
    font-size: 1rem;
    background-color: #157347;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
}

.review-card .btn i {
    margin-left: 10px;
}

.review-card .btn:hover {
    background-color: #218838;
    color: #fff;
}

@media (max-width: 768px) {
    .review-card {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .review-card {
        width: 100%;
    }
}
